<div id="filters">
    <label>Nom: </label>
    <input [(ngModel)]="filterName" type="text" placeholder="Filter by name" />
    <br/>

    <label>Platform: </label>
    <select [(ngModel)]="filterPlatform">
        <option *ngFor="let platform of platforms" [value]="platform">
            {{ platform }}
        </option>
    </select>
    <br/>

    <label>Prix min: </label>
    <input [(ngModel)]="filterPriceMin" type="number" placeholder="Min price" />
    <br/>

    <label>Prix max: </label>
    <input [(ngModel)]="filterPriceMax" type="number" placeholder="Max price" />
    <br/>

</div>
<div id="catalog" class="row">
    <app-product [product]="currentProduct" 
                (onAddToCart)="onAddToCart($event)" 
                class="col-4 psmall"
                *ngFor="let currentProduct of products | catalogFilter: getCatalogFilter()"  />
</div>